<footer class="footer_bar">
    <div class="shipping_and_loyalty">
        <div class="shipping">
            <img src="/images/free_shipping.png" alt="Free Shipping" class="footer_picture">
            <nav class="text_in_shipping">
                <h4>FREE SHIPPING!!!</h4>
                <p>No extra fees, just add your items to the cart and we’ll deliver them to
                    your door for free on orders over 50 €.</p>
            </nav>
        </div>
        <div class="loyalty">
            <img src="/images/loyalty_card.png" alt="Loyalty Card" class="footer_picture">
            <nav class="text_in_loyalty">
                <h4>LOYALTY CARD</h4>
                <p>Collect points with every purchase and enjoy exclusive rewards,
                    our loyalty card gives you benefits that grow with you.</p>
            </nav>
        </div>
    </div>
    <nav class="info">
        <div class="info_div">
            <h3>Fit Supply</h3>
            <ul class="info_list">
                <li>About Us</li>
                <li>Terms and Conditions</li>
                <li>Internship</li>
                <li>News</li>
            </ul>
        </div>
        <div class="info_div">
            <h3>Online shop</h3>
            <ul class="info_list">
                <li>Common Questions</li>
                <li>Return Policy</li>
                <li>Terms of Purchase</li>
                <li>Data protection and confidentiality</li>
            </ul>
        </div>
        <div class="info_div">
            <h3>Shops</h3>
            <ul class="info_list">
                <li>Branch offices and contacts</li>
                <li>Pick up at the branch</li>
            </ul>
        </div>
    </nav>
    <nav class="end_info">
        <p>Fit Supply d.o.o |
            Unska ul. 3, 10000, Zagreb |
            OIB: 01234567899</p>
    </nav>
</footer>
</body>
</html>
