
<%- include('partials/header') %>

<nav class="categories_box" id="categories_box">
    <ul id="category_list"></ul>
</nav>
<nav class="welcoming_pictures_box" id="welcoming_pictures">
    <div class="left">
        <div class="picture_box">
            <img src="/images/main_pictures/0_1.jpg" alt="Supplements picture" class="main_picture">
            <div class="title_for_picture position_bottom">
                <h3 class="title">Priprema je snaga.</h3>
                <p class="paragraph">Suplementacija nije samo dodatak, ona je nastavak tvoje discipline.
                    Fit Supply proizvodi pomažu ti da iz dana u dan ostaneš usmjeren na svoj cilj.
                    Snaga počinje prije prvog koraka.
                </p>
            </div>
        </div>
        <div class="picture_box">
            <div class="title_for_picture">
                <h3 class="title">Fokus. Snaga. Stav.</h3>
                <p class="paragraph">Naša odjeća nije samo stil, ona je funkcija i snaga u svakom pokretu.
                    Bilo da si u timu ili stojiš samostalno, Fit Supply je tvoja podrška u svakom treningu.
                </p>
            </div>
            <img src="images/main_pictures/0_2.jpg" alt="Clothing picture" class="main_picture position_bottom">
        </div>
    </div>
    <div class="right">
        <div class="picture_box_horizontal">
            <img src="images/main_pictures/0_3.jpg" alt="Running picture" class="main_picture_horizontal">
            <div class="horizontal_title_for_picture">
                <h3 class="title">Tijelo govori. Brend potvrđuje.</h3>
                <p class="paragraph">Kada treniraš ozbiljno, oprema to mora pratiti.
                    Fit Supply nije samo ime na majici, to je mentalitet.
                    Snaga. Dosljednost. Kvaliteta.
                    Za one koji znaju zašto treniraju.
                </p>
            </div>
        </div>
    </div>
</nav>
<main id="main">
    <nav class="content" id="content">
        <div class="boxes box_1" id="box_1">
            <div class="item_picture_holder" id="picture_1"></div>
            <img src="/images/cart.png" alt="add_to_cart" id="cart_1" class="add_to_cart_picture">
            <span id="number_of_items_1" class="number_of_items"></span>
            <span class="item_name_holder" id="name_1"></span>
            <span class="item_price_holder" id="price_1"></span>
        </div>
        <div class="boxes box_2" id="box_2">
            <div class="item_picture_holder" id="picture_2"></div>
            <img src="/images/cart.png" alt="add_to_cart" id="cart_2" class="add_to_cart_picture">
            <span id="number_of_items_2" class="number_of_items"></span>
            <span class="item_name_holder" id="name_2"></span>
            <span class="item_price_holder" id="price_2"></span>
        </div>
        <div class="boxes box_3" id="box_3">
            <div class="item_picture_holder" id="picture_3"></div>
            <img src="/images/cart.png" alt="add_to_cart" id="cart_3" class="add_to_cart_picture">
            <span id="number_of_items_3" class="number_of_items"></span>
            <span class="item_name_holder" id="name_3"></span>
            <span class="item_price_holder" id="price_3"></span>
        </div>
        <div class="boxes box_4" id="box_4">
            <div class="item_picture_holder" id="picture_4"></div>
            <img src="/images/cart.png" alt="add_to_cart" id="cart_4" class="add_to_cart_picture">
            <span id="number_of_items_4" class="number_of_items"></span>
            <span class="item_name_holder" id="name_4"></span>
            <span class="item_price_holder" id="price_4"></span>
        </div>
        <div class="boxes box_5" id="box_5">
            <div class="item_picture_holder" id="picture_5"></div>
            <img src="/images/cart.png" alt="add_to_cart" id="cart_5" class="add_to_cart_picture">
            <span id="number_of_items_5" class="number_of_items"></span>
            <span class="item_name_holder" id="name_5"></span>
            <span class="item_price_holder" id="price_5"></span>
        </div>
        <div class="boxes box_6" id="box_6">
            <div class="item_picture_holder" id="picture_6"></div>
            <img src="/images/cart.png" alt="add_to_cart" id="cart_6" class="add_to_cart_picture">
            <span id="number_of_items_6" class="number_of_items"></span>
            <span class="item_name_holder" id="name_6"></span>
            <span class="item_price_holder" id="price_6"></span>
        </div>
    </nav>
</main>

<%- include('partials/footer')%>